.games_list {
}

.game_wrapper {
    margin-bottom: 2%;
}

.game_title {
    /*display:inline;*/
    font-family: Consolas, sans-serif;
    font-size: 28px;
    font-weight: bold;
}

.game_logo {
    float: left;
    margin-right: 5px;
}

.game_description {
    font-family: Consolas, sans-serif;
    font-size: 16px;
    word-wrap: break-spaces;
    width: 580px;
}


