.games_list {
    margin: 2% 12%;
    border: #f0f8ff;
}

.game_wrapper {
    margin-bottom: 2%;
}

.game_title {
    display:inline;
    font-family: Consolas, sans-serif;
    font-size: 28px;
    font-weight: bold;
}

.game_logo {

}

.game_description {
    font-family: Consolas, sans-serif;
    font-size: 16px;
    word-wrap: break-spaces;
}


