body {
    font-family: 'FuturaMediumC', sans-serif;
    margin: 16px 5%;
}

#mainPage {
    position: absolute;
    height: 90%;
    width: 90%;
    /*border: 1px solid black;*/
}

#welcomeText {
    width: 60%;
    left: 0;
    right: 0;
    margin: auto;
    padding: 5px;
}

#hiddenInfo {
    display: block;
    position: relative;
    left: 0;
    right: 0;
    margin: 0.5% auto auto auto;
    width: 30%;
    min-width: 200px;
    border-radius: 10px;
    background: rgba(50,50,50,0.1);
    height: 25px;
    max-height: 25px;
    transition: max-height 1s ease-in 0.5s, width 0.5s ease-in;
    overflow: hidden;
}

#infoText {
    display: block;
    width: 90%;
    left: 0;
    right: 0;
    padding: 1%;
    margin: auto;
}

#hiddenInfo.openMenu {
    height: auto;
    max-height: 1500px;
    width: 100%;
}

#arrow {
    height: 25px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left:0;
    right: 0;
    margin: auto;
    border-radius: 10px;
    cursor: pointer;
}

#arrow:hover {
    background: rgba(50,50,50,0.3);
}

table {
    /*border: 1px solid black;*/
    left: 0;
    right: 0;
    margin: 1% auto auto auto;
    border-spacing: 0 10px;
}

td.imgTd {
    padding: 5px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background: rgba(50,50,50,0.1);
}

td.textTd {
    padding: 5px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background: rgba(50,50,50,0.1);
}

tr:hover td.textTd {
    background: rgba(50,50,50,0.3);
    cursor: pointer;
}

tr:hover td.imgTd {
    background: rgba(50,50,50,0.3);
    cursor: pointer;
}

.gameLogo {
    padding: 5px 15px 0 5px;
}

.gameLogo IMG{
    width: 100%;
}

.gameName {
    font-size: 28px;
    font-weight: bold;
}

.gameText {

}

.gameDescription {
    word-wrap: break-spaces;
}