* {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background: #F2F2F2;
    color: #1C344C;
    font-family: "Comic Sans MS", serif;
    font-size: 20px;
}

h1 {
    font-size: 48px;
    margin: 0;
}

h3 {
    font-size: 28px;
    margin: 0;
}

.centerText {
    text-align: center;
}