#mainPage {
    display: block;
}

#supportPage {
    display: none;
}

#canvasHolder canvas {
    display: block;
    background: white;
    outline: 2px #1c344c solid;
    cursor: crosshair;
    margin-bottom: 16px;
}

.button {
    width: 140px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#results img {
    border: #1c344c 1px solid;
    border-radius: 4px;
    display: inline;
    margin-top: 4px; margin-left: 8px; margin-right: 8px;
    transition: width 1s;
}