.start_button{
    margin-top: 3%;
    margin-left: 40%;
    background-color: aquamarine;
    border: None;
    color: darkblue;
    font-family: Consolas;
    width: 20%;
    height: 5%;
    font-size: 120%;
}

#answer{
    width: 20%;
    font-size: 120%;
    margin-left: 40%;
}

#new_word{
    font-size: 180%;
    text-align: center;
}

.rules{
    text-align: center;
    font-size: 100%;
    color: lemonchiffon;
}

.exit{
    height: 8%;
    width: 80%;
    background-color: aquamarine;
    border: None;
}

.chinese_button {
    background-color: aquamarine;
    font-size: 120%;
    width: 20%;
    height: 15%
}

.chinese_button:hover {
    background-color: mistyrose;
}
